// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #d1d7d7;

$deliveroo-turquoise: #00ccbdff;
$deliveroo-violet: #450059ff;
$deliveroo-morning-blue: #8c9c9cff;
$deliveroo-green-crayola: #d0eb99ff;
$deliveroo-misty-rose: #ffeae4ff;
$deliveroo-white: #ffffffff;
$deliveroo-grey: #828585;
$deliveroo-box-shadow: #828585;
$deliveroo-button-hover: #00c2b3;
