.home-background{
  height: calc(100vh - 83px - 50px);
  // width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient rgba(0,0,0,6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  color: white;
  z-index: 100;
}

#sign-up-button {
  z-index: 100;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  font-size: 17px
}

// .sign-up-button {
//   padding-top: 400px;
// }


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,5);
  border-radius: 10px;
}

.card-trip-image > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.card-trip-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-trip-image:hover > img {
  transform: scale(1.6);
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  // justify-content: space-around;
  font-size: 16px;
  // opacity: .9;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

#carousel-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right:0px;
  overflow: hidden;
}

.home-cards-container {
  width:100%;
  margin-top: -5px;
}

.title-sizing {
  z-index: 1;
  // margin-top: 40vh;
}

.btn-sizing {
  width: 100%;
  text-align: center;
}

.card-trip-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  position: relative;
  z-index: 1;
  margin: 0 3em 1em;
}
