// Import page-specific CSS files here.
@import "home";

.card-product {
    overflow: hidden;
    margin-top: 30px;
    height: 300px;
    width: 1514px;
    background: #006a71;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-left: 229px;
    margin-top: 58px;
    border-width: 14px;
    border-style: solid;
    border-color: #ffffdd;
    padding: 22px;
    margin: 64px;
}

.card-product img {
height: 100%;
width: 332px;
object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 25px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 40px;
  font-size: 10px;
}

.activation {
font-weight:bold;
color:#d3de32
}
