.container-small {
  display: block;
  position: relative;
  max-width: 545px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1em;
  margin-bottom: 10px;
  color: #828585;
}

input {
  min-height: 48px;
  border-radius: 3px;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d1d7d7;
}

input:focus {
  border: 1px solid #00ccbc;
  box-shadow: 0px 0px 0px 1px #00ccbc;
}

form {
  margin-top: 10px;
  background-color: #ffffff;
}

.box {
  background: #ffffff;
  position: relative;
  margin-top: 30px;
}

.section-title {
  font-size: 28px;
  display: block;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid #cbcccc;
}

.section-inner {
  padding: 30px;
}

.enligne {
  color: $deliveroo-turquoise;
}

.horsligne {
  color: #979999;
}

.photo-trash {
  top: 5px;
  right: 5px;
  background: white;
  border-radius: 50%;
  width: 32px;
  height: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.27);
  position: absolute;
}

.active .bs-stepper-circle {
  background-color: $deliveroo-turquoise;
}
