body {
  background-color: #f4f5f5;
}

.container-small {
  display: block;
  position: relative;
  max-width: 545px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background: #FFFFFF;
  position: relative;
  margin-top: 30px;
}

.section-title {
  font-size: 28px;
  display: block;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid #cbcccc;
}

.section-inner {
padding: 30px;
}