.card-product {
  overflow: hidden;
  width: 1514px;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 22px;
  margin: 64px;
  margin-top: 272px;
}
.card-category  {
  height: 300px;
  // background-position: bottom;
  // width: 500%;
  background-size:cover;
   text-align: center;
   display:flex;
   justify-content:center;
   align-items:center;
   h2{
    padding:40px;
   }
}
h2 {
  color:black;
  background-color: white;
  border-radius:40px;
  margin-bottom: 81px;
  // width:300px;
  // height:50px;
}
.card-product {
  margin-top:10px;
}
.card-product img {
  height: 100%;
  width: 332px;
  object-fit: cover;
}
.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}
.card-product .card-product-infos {
  padding: 10px;
  font-size: 10px;
  flex-grow:1;
}
.activation {
font-weight:bold;
font-size: 52px;
color:bal
}
#title {
font-size:25px;
padding:0px;
}
.texte p {
  font-size:19px;
  padding:0px;
  color:black;
}
.status {
height:100%;
display:flex;
flex-direction:column;
align-items: center;
justify-content:space-between;
}