.sidebar-container{
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 66px);
}



.restaurants-index-container {
  display: flex;
  .card-product-container-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
}

.main-right-container {
  flex-grow: 1;
  padding: 5em;
}

#v-pills-profile {
  margin-top: 64px;
  margin-left: 64px;
}


.inscrit {
  left: 133px;
  top: 231px;
  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #00CCBD;
}

.name {

left: 120px;
top: 202px;
font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #000000;
}



.nav-link {
  left: 50px;
  top: 307px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}


.nav-link active {
  left: 50px;
  top: 307px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}


