body .navbar-lewagon {
    display: none
}

h1 {
    font-family: 'Lobster Two', sans-serif;
}

p {
    font-family: 'El Messiri', sans-serif;
}

.column-left {
    display: grid;
    height: 100%;
    justify-items: center;
}

.column-right {
    display: grid;
    height: 100%;
    justify-items: center;
}

.column-center {
    width: 500px;
    display: grid;
    height: 100%;
    justify-items: center;
}

.chief-presentation {
    width: 100%;
    height: 600px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-image: url("https://web.static-rmg.be/if/c_crop,w_2000,h_1350,x_0,y_0,g_center/c_fit,w_620,h_418/acd735bbb7f585f8aa985a8753ce82f9.jpg");
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}

.chief-presentation-2 {
    width: 100%;
    height: 600px;
    padding: 25px;
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    background-image: url("https://web.static-rmg.be/if/c_crop,w_2000,h_1350,x_0,y_0,g_center/c_fit,w_620,h_418/acd735bbb7f585f8aa985a8753ce82f9.jpg");
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}

.chief-presentation-3 {
    width: 100%;
    height: 600px;
    padding: 25px;
    display: flex;
    opacity: 0.6;
    justify-content: space-between;
    background-image: url("https://web.static-rmg.be/if/c_crop,w_2000,h_1350,x_0,y_0,g_center/c_fit,w_620,h_418/acd735bbb7f585f8aa985a8753ce82f9.jpg");
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}

.description {
    width: 100%;
    height: 600px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
}