
<div class="container">
  <div class="card-product-container">
    <h2>LISTE DE MES RESTAURANTS</h2>



    <% @restaurants.each do |restaurant| %>
      <div class="card-product">
        <img src="http://www.absolutgraphic.com/wp-content/uploads/2016/05/enseigne-simple-300x300.jpg" />

        <div class="card-product-infos">
          <h2><%=restaurant.name.upcase%></h2>
          <h4> <%= restaurant.address%></h4>
        </div>

        <div class="vertical-line"></div>

        <div class="status">
          <% if restaurant.activated == true %>
           <button type="button"class="btn btn btn-success btn-lg disponible_button">DISPONIBLE</button>
          <% elsif restaurant.activated == false %>
           <button type="button"class="btn btn btn-warning btn-lg disponible_button">INDISPONIBLE</button>
          <% end %>
        </div>
        <%= link_to "MODIFIER", edit_user_registration_path, class: "btn btn-light btn-lg"  %>
        <%= link_to "VISUALISER", restaurant_path(restaurant), class: "btn btn-light btn-lg"   %>
        <i class="fas fa-utensils couverts"></i>
      </div>
    <% end %>
  </div>
</div>

