
<div class="container formulaire">
  <div class="col-md-8 add_restaurant">
    <div class="container-small pt-5">
      <div class="section-new box">
        <div class="section-title">NOUVEAU RESTAURANT</div>
        <div class="section-inner">
          <% if policy(Restaurant).create? %>
          <%= simple_form_for @restaurant do |f| %>
            <%= f.input :name, label:"Nom de votre établissement" %>
            <%= f.input :address,label:"Addresse de votre établissement ", input_html: { id: 'autocompletion-new'} %>
            <%= f.button :submit, value: "CREER TON NOUVEAU RESTAURANT!", class: 'btn-normal' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
