<body class="show-page">
  <div class="chief-presentation-background">
    <div class="chief-presentation">
      <div class="column-left">
        <div></div>           
        <div></div>
      </div>
      <div class="column-center">
        <h1 style="text-align: center;">Mallory Gabsi</h1>
        <div style="text-align: center;">
          <p>« Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, molestiae! Mollitia reiciendis asperiores harum earum. »</p>
          <br>
        </div>
      </div>
      <div class="column-right">
          <%= link_to 'Continuer à éditer', edit_restaurant_path, class: "btn-show", style: "height: 40px;" %>
          <%= link_to "Retour à l'index", restaurants_path, class: "btn-show", style: "height: 40px;" %>
          <%# <button class="btn-normal" style="height: 40px; font-family: 'El Messiri', sans-serif;">Status</button> %>
      </div>
    </div>
  </div>
  <div class="cards-show-dashboard">
    <div class="card-show-product">
      <p style="font-weight: bold;"><span id="typed-text"></span></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit illum quasi, iste eos corporis rerum nostrum! Quos asperiores suscipit nemo! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sit quam ea officia asperiores qui dicta nulla libero in aspernatur accusantium quas ex nostrum maiores, maxime reiciendis? Quod, ut sed!</p>
    </div>
  </div>
  <div class="cards-show-dashboard-2">
    <div class="card-show-product-2">
      <div id="insert-gauche">
        <img src="https://img-3.journaldesfemmes.fr/aUQpTd7t-V06aWzi_ssZ59hbC9M=/1240x/smart/367fc1643b0b476d95465363d04b9ec3/ccmcms-jdf/13476696.jpg" style="max-width: 100%; height: 100%; object-fit: cover;" alt="">
      </div>
      <div id="insert-droit">
        <h1 style="color: white;">Le chef : Mallory</h1>
        <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum possimus voluptas labore quaerat hic quasi molestiae at itaque? Asperiores, earum.</p>
      </div>
    </div>
    <div class="card-show-product-2">
      <img src="https://i.pinimg.com/originals/1f/27/7f/1f277fec06c1c4f76200500f2ce9392b.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="">
    </div>
  </div>
  <div class="cards-show-hours-dashboard">
    <div class="card-show-hours">
      <h5>Mardi</h5>
      <p>11h - 15h<br>
        18h - 00h</p>
    </div>
    <div class="card-show-hours">
      <h5>Mercredi</h5>
      <p>11h - 15h<br>
        18h - 00h</p>
    </div>
    <div class="card-show-hours">
      <h5>Jeudi</h5>
      <p>11h - 15h<br>
        18h - 00h</p>
    </div>
    <div class="card-show-hours">
      <h5>Vendredi</h5>
      <p>11h - 15h<br>
        18h - 00h</p>
    </div>
    <div class="card-show-hours">
      <h5>Samedi</h5>
      <p>11h - 15<br>
        18h - 02h</p>
    </div>
    <div id="card-show-sunday">
    <h5>Dimanche</h5>
      <p>-<br>
        -</p>
    </div>
  </div>
  <div class="cards-show-pics">
    <img src="https://paris.tastefestivals.com/wp-content/uploads/elementor/thumbs/%C2%A9VincentNageotte-img-taste2019_NGT8824-1-ofjrx7uu1pbkfzvqlpxjvip782525pf4upl9wlo47s.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/33/b8/6f/33b86fa39193bbadded6668c735c6672.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/81/0b/f2/810bf2bf863ac471971d7ab429a7da69.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/1f/27/7f/1f277fec06c1c4f76200500f2ce9392b.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/77/37/2f/77372f1f63967c969dff6a98bb2a1bc4.png" class="module" alt="">
    <img src="https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg" class="module" alt="">
    <img src="https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg" class="module" alt="">
  </div>
  <div class="cards-show-menu">
    <div class="card-show-product">
    <h1>Menu</h1>
    <br>
      <%# <% @restaurant.photos.where(category: :menu).each do |photo| %>
        <%#= cl_image_tag photo.key, crop: :fill, class: "photo" %>
      <%# end %>
      <img src="http://le80.fr/wp-content/uploads/2017/03/menu-le_80-2019-HD2.jpg" style ="max-height: 100%; width: 100%;" alt="">
    </div>
  </div>
  <div class="grid-flex-map">
    <div class="cards-show-dashboard-3">
      <h1>Pianovins</h1>
      <br>
      <p>46 rue Trousseau
        <br>
        01 44 09 98 79</p>
    </div>
    <div class="demi-down">
      <div class="map-center">
        <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
  <div id="show-footer">
    <div id="footer-icons">
      <a href="#"><p><i class="fab fa-facebook""></i></p></a>
      <a href="#"><p><i class="fab fa-twitter""></i></p></a>
      <a href="#"><p><i class="fab fa-instagram""></i></p></a>
    </div>
  </div>

  <!-- contenu des meta tags -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>
</body>
