<div class="chief-presentation">
    <div class="column-left">
        <img src="../assets/logo.png" alt="logo" class="class avatar-bordered" style="height: 40px;">
        <div>
            <p><i class="fab fa-facebook"></i> Facebook</p>
            <p><i class="fab fa-twitter"></i> Twitter</p>
            <p><i class="fab fa-instagram"></i> Instagram</p>
        </div>
    </div>
    <div class="column-center">
        <h1 style="text-align: center;">Mallory Gasbi</h1>
        <div>
            <p>Ma vision de la frite</p>
            <p>Mon engagement envers la pomme de terre</p>
            <p>Ma cuisson préférée : la double cuisson</p>
        </div>
    </div>
    <div class="column-right">
        <button class="btn btn-primary" style="height: 40px; font-family: 'El Messiri', sans-serif;">Back to profile</button>
        <button class="btn btn-primary" style="height: 40px; font-family: 'El Messiri', sans-serif;">Status</button>
    </div>
</div>
<div class="description">
</div>