.btn-normal {
    // width: 120px;
    height: 30px;
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    background-color: #C70039;
}

.btn-backtoprofile {
    width: 120px;
    height: 30px;
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    background-color: #C70039;
}