.btn-normal {
    border: none;
    text-decoration: none;
    appearance: none;
    border-radius: 4px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    margin: 0;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: $deliveroo-turquoise;
    min-height: 48px;
    padding: 12px 24px;
}

.btn-normal:hover {
    color: #fff;
    background: $deliveroo-button-hover;
    transition-property: background,box-shadow,-webkit-box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    text-decoration: none;
}

.btn-show {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px bisque;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    margin: 3px;
    position: relative;
    cursor: pointer;
    color: bisque;
    padding: 12px 24px;
}

.btn-show:hover {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-style: italic;
}

.btn-show-reserver {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 9px bisque;
    border-radius: 30px;
    font-size: larger;
    line-height: 24px;
    margin: 3px;
    position: relative;
    cursor: pointer;
    color: bisque;
    padding: 12px 24px;
    justify-content: center;
    width: 200px;
    height: 60px;
    font-weight: bold;
}

.btn-show-reserver:hover {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.btn-modal {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    margin: 3px;
    position: relative;
    cursor: pointer;
    color: bisque;
    padding: 12px 24px;
    max-height: 600px;
    border: none;
}

