  .card-product {
    background: white;
    display: flex;
    align-items: center;
    height: 186px;
    margin-bottom: 20px;
    background: #FFFFFF;
    position: relative;
}

  .status {
    position: absolute;
    top: 20px;
    right: 70px;
  }

  .couverts{
    position: absolute;
    bottom: 20px;
    right: 130px;
    font-size:25px;
    padding-right: 10px;
    color:black;
  }

  .vertical-line {
   border-left: 2px solid #000;
   display: inline-block;
   height: 50px;
   margin: 20px 20px;
  }


  .card-product img {
  height: 70%;
  max-width: 330px;
  padding-left: 15px;
  object-fit: cover;
}


.card-product .card-product-infos {
  flex-grow:1;
  padding-left: 100px;
  h4 {
    text-align: left;
    font-size: 16px;
    color: #828282;
  }
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }
}

.visualiser {
  width: 92px;
  height: 19px;
  left: 934px;
  top: 347.57px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #828282;
  width: 152px;
  height: 50px;
  left: 904px;
  top: 538px;
  border: 1px solid #828282;
  box-sizing: border-box;
}

.modifier {
  left: 765px;
  top: 553.57px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 139px;
  height: 50px;
  left: 735px;
  top: 538px;
  background: #00CCBD;
  }

.enligne_button {
  height: 15px;
  left: 1108px;
  top: 236px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #6FCF97;

}

.horsligne_button {
  height: 15px;
  left: 1108px;
  top: 236px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #ff5f40;
}

// .container_flex {
//   display: flex;
//   justify-content: space-around;
// }



.add_button {
  background: #00CCBD;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-container {
  display: flex;
  justify-content :flex-end;
}

.coucou {
  padding-left:4px;
}


.container-small{
  width: 1800px;
  color:black;
}


#my-infos {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-bottom:50px;
}


.form-inputs {
  .form-control.is-valid:focus{
  outline-color: #719ECE;
  border: 2px solid black !important;
  }
}

.no_image {
  opacity: 0.6;
  height:60%;
}


.titretab {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

.user_prenom {
  flex: 1;
  margin-bottom: 2rem;
}

.user_nom {
  flex: 1;
  margin-left: 20px;
}

.edit_user {
  width: 70%;
  margin-left: 15%;
}
