  #insert-gauche {
    width: 100%;
  }

  #insert-droit {
    width: 100%;
    display: grid;
    align-items: center;
    padding: 30px;
  }
  
  #card-avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    // position: absolute;
    // top: 661px;
    // left: 46%;
  }

  .card-show-product {
    width: 70%;
    overflow: hidden;
    height: 300px;
    display: grid;
    justify-items: center;
    align-content: center;
    margin: 10px;
  }

  .card-show-product-2 {
    width: 70%;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    justify-items: center;
    align-content: center;
  }

  .card-show-product p {
    padding: 25px;
    margin: 10px;
    text-align: center;
    font-style: italic;
  }

  .card-show-hours {
    overflow: hidden;
    justify-content: center;
    height: 150px;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: opacity 0.3s ease-in;
    h5 {
      font-style: italic;
      color:gray;
    }
    p {
      color: black;
    }
  }

  .card-show-hours:hover {
    opacity: 1;
  }

  #card-show-sunday {
    overflow: hidden;
    justify-content: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    h5 {
        font-style: italic;
        color:gray;
    }
  }


  .card-show-product .card-show-product-infos {
    padding: 16px;
    padding-left: 35px;
  }

  .cards-show-dashboard {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    border-radius: 20px;
    padding: 27px;
    justify-items: center;
  }

  .cards-show-dashboard-2 {
    background-color: black;
    max-width: 100%;
    height: 400px;
    display: flex;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-items: center;
  }

  .cards-show-dashboard-3 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://youmatter.world/app/uploads/sites/3/2016/06/gastronomie-cuisine-alimentation-saine-durable.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    h1 {
      color: burlywood;
    }
    p {
      color: burlywood;
    }
  }

  .demi-down {
    display: flex;
    justify-content: center;
  }

  .cards-show-pics {
    width: 100%;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    padding: 27px;
    justify-items: center;
    margin: auto;
  }
  
  .module:nth-child(1n) {
    grid-row: span 1;
  }

  .module:nth-child(3),
  .module:nth-child(6),
  .module:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
    max-height: 420px;
  }

  .cards-show-pics img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    // pour remplir la case avec l'image
    // object-fit: fill;
  }

  .cards-show-hours-dashboard {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
    border-radius: 20px;
    padding: 27px;
    margin: auto;
  }

  .cards-show-menu {
    border-radius: 20px;
    padding: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .cards-show-menu .card-show-product {
    width: 40%;
    height: 600px;
  }

  #show-footer {
    text-align: center;
    height: 200px;
    width: 100%;
    position: relative;
    margin: auto;
    color: burlywood;
    background-color: black;
  }

  #footer-icons {
    display: flex;
    justify-content: center;
    color: burlywood;
    p {
      font-size: 35px;
      margin-bottom: 0px;
    }
    a {
      color: burlywood;
      border: solid 1px;
      padding-inline: 15px;
      margin-inline: 25px;
    }
  }
  
  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards-show-pics {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (max-width: 768px) {
    .cards-show-pics {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards-show-pics {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards-show-pics {
      grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards-show-pics {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
