  .card-product {
    overflow: hidden;
    border-radius:10px;
    position: relative;
    height: 258px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 64px;
    width: 950px;
  }

  .status {
    position: absolute;
    top: 20px;
    right: 70px;
  }

  .couverts{
    position: absolute;
    bottom: 20px;
    right: 130px;
    font-size:25px;
    padding-right: 10px;
    color:black;
  }

  .vertical-line {
   border-left: 2px solid #000;
   display: inline-block;
   height: 50px;
   margin: 20px 20px;
  }


  .card-product img {
  height: 70%;
  max-width: 330px;
  padding-left: 15px;
  object-fit: cover;
}

.card-product-container  {
  font-size: 45px;
  text-align: center;
}


.card-product .card-product-infos {
  padding: 10px;
  flex-grow:1;
  h4 {
     font-size: 20px;
  }
  h2 {
    font-size: 33px;
    font-weight: bold;
  }
}

.visualiser {
 font-weight:bold;
}


.modifier {
 font-weight:bold;
}


.enligne_button {
  border-width : 12px;
  border-color : green;
  border-style : solid;
  font-weight:bold;
}


.horsligne_button {
  border-width : 10px;
  border-color : grey;
  border-style : solid;
  font-weight:bold;
}


.sidenav {
  width: 230px;
  position: fixed;
  line-height: 1.7;
  overflow-x: hidden;
  padding: 8px 0;
  background-color: #f6f5f5;
  height: 280px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  border-radius:10px;
  border-width : 5px;
  border-color : black;
  border-left-style: solid;
  }

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align:center;
  font-size: 22px;
  color: #070303;
  display: block;
}

a:hover {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.avatar-large {
  display: flex;
  margin-left: 94px;
  margin-top: 12px;
   margin-bottom: 12px;
}


#bannerindex-background {
  height:350px;
  background-color: black;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.bannerimage {
  height:350px;
  object-fit:cover;
}


.linked_active {
  background-color:#d6e0f0 !important;
  font-weight:bold;
}


.container_flex {
  display: flex;
  justify-content: space-around;
}


.boutonadd {
color:black;
padding: 8px 24px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: -66px;
}

.container-bouton {
background-color:  white;
width: 335px;
padding: 8px 24px;
position: relative;
float: right;
margin-top: -119px;
margin-right: 36px;
font-weight: bold;
}
