.sidenav {
  padding: 36px 0;
  width: 100%;
  .active {
    font-weight:bold;
    color: black;
  }
  .nav-pills .nav-link {
    border-radius: 0px;
  }
  .sidebar-tab-link {
    padding: 15px;
    font-size: 22px;
    color: #070303;
  }
}

#v-pills-home-tab {
font-weight: 100;
}

.logout {
  margin-left: 5px;
}


.name {
margin-top: 25px;
}

.sidenav-hidden {
  width: 0px;
  overflow: hidden;
}




// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }


// #bannerindex-background {
//   height:350px;
//   background-color: black;
//   position:fixed;
//   top:0;
//   left:0;
//   right:0;
// }

// .bannerimage {
// height:350px;
// object-fit:cover;
// }


// .boutonadd {
// position:fixed;
// font-weight:bold;
// font-size: 23px;
// top:20px;
// background-color:#d6e0f0 ;
// right:20px;
// }
